.section-faq__main-questions {
  padding: 0;
  margin: 0;
}

.section-faq__element-title {
  display: inline-block;
  width: 780px;
  margin: 0;
}

.section-faq__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.section-faq__element:last-child {
  margin-bottom: 0;
}

.section-faq__element--modify {
  background-color: #440F51;
  color: #fff;
}

.section-faq__button {
  width: 46px;
  height: 46px;
  border: 2px solid #440f51;
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/plus-viol.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.section-faq__button:hover {
  border-color: #6c0287;
  background-color: #6c0287;
  background-image: url("../img/plus-white.svg")
}

.section-faq__button:active {
  border-color: #6c0287;
  background-color: transparent;
  background-image: url("../img/minus-viol.svg");
}

.section-faq__button--modify {
  border-color: #ffffff;
  background-image: url("../img/plus-white.svg");
}

.section-faq__button--modify:hover {
  border-color: #ffffff;
  background-color: #ffffff;
  background-image: url("../img/plus-viol.svg");
}

.section-faq__button--modify:active {
  background-color: transparent;
  background-image: url("../img/minus-white.svg");
}
