.section-faq__main-questions {
  padding: 0;
  margin: 0;
}

.section-faq__element-title {
  display: inline-block;
  width: 780px;
  margin: 0;
}

.section-faq__element {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  background-color: var(--white);
  color: var(--m-black);
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.section-faq__element:last-child {
  margin-bottom: 0;
}

.section-faq__element--modify {
  background-color: var(--violet);
  color: var(--white);
}

.section-faq__button {
  width: 46px;
  height: 46px;
  border: 2px solid var(--violet);
  border-radius: 50%;
  background-color: transparent;
  background-image: url("../img/plus-viol.svg");
  background-position: center;
  background-repeat: no-repeat;
  transition: border-color .3s ease-in-out,
    background-color .3s ease-in-out,
    background-image .3s ease-in-out;
}

.section-faq__button:hover {
  border-color: var(--m-purple);
  background-color: var(--m-purple);
  background-image: url("../img/plus-white.svg")
}

.section-faq__button:active {
  border-color: var(--m-purple);
  background-color: transparent;
  background-image: url("../img/minus-viol.svg");
}

.section-faq__button--modify {
  border-color: var(--white);
  background-image: url("../img/plus-white.svg");
}

.section-faq__button--modify:hover {
  border-color: var(--white);
  background-color: var(--white);
  background-image: url("../img/plus-viol.svg");
}

.section-faq__button--modify:active {
  background-color: transparent;
  background-image: url("../img/minus-white.svg");
}