.section-faq__main-questions {
  padding: 0;
  margin: 0;
}

.section-faq__element-title {
  display: inline-block;
  width: 780px;
  margin: 0;
}

.section-faq__element {
  position: relative;
  background-color: #fff;
  color: #1C1A1A;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.section-faq__element:last-child {
  margin-bottom: 0;
}

.section-faq__element:nth-child(even) {
  background-color: #440F51;
  color: #fff;
}

.section-faq__element:nth-child(odd):after {
  content: "";
  position: absolute;
  right: 70px;
  width: 46px;
  height: 46px;
  background-image: url("../img/open-purple.svg");
}

.section-faq__element:nth-child(even):after {
  content: "";
  position: absolute;
  right: 70px;
  width: 46px;
  height: 46px;
  background-image: url("../img/open.svg");
}