.form__fieldset {
    margin-bottom: 60px;
    padding: 0;
    border: none;
}

.form__fieldset--vertical {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    gap: 20px;
}

.form__fieldset--date {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 50px;
    width: 980px;
    margin: 0 auto;
    margin-bottom: 40px;
}

.form__legend {
    display: flex;
    margin-bottom: 40px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
}

.form__legend--little {
    margin-bottom: 24px;
    text-align: left;
}

.form__button {
    display: block;
    min-width: 300px;
    min-height: 60px;
    padding: 16px;
    margin-left: auto;
    margin-right: 100px;
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    text-transform: uppercase;
    color: #6c0287;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 10px;
    transition: border .3s ease-in-out,
        background-color .3s ease-in-out;
}

.form__button:hover {
    border: 3px solid #6c0287;
    background-color: #eadeed;
}

.form__button:focus {
    border: 3px solid #6c0287;
    background-color: #ffffff;
    outline: none;
}

.form__button:active {
    border: 3px solid #eadeed;
    background-color: #eadeed;
}

.hall-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 60px;
}

.advertisment-container {
    width: 980px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
}

.date-container {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;
    column-gap: 32px;
    row-gap: 24px;
    padding-top: 33px;
}

.name-container {
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.contacts-container {
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.form__field {
    width: 300px;
    min-height: 52px;
    padding: 12px 50px 12px 20px;
    border: 2px solid #ffffff;
    transition: border .3s ease-in-out;
}

.form__field:focus {
    border: 2px solid #cd06ff;
    outline: none;
}

.form__field--medium {
    width: 280px;
}

.form__field--short {
    width: 134px;
}

.form__label--halls {
    min-width: 250px;
    min-height: 55px;
    padding: 7px 15px;
    font-weight: 700;
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    color: #000000;
    background-color: #ffffff;
    border: 3px solid #ffffff;
    border-radius: 8px;
    cursor: pointer;
    transition: border .3s ease-in-out,
        background-color .3s ease-in-out;
}

.form__input:checked+.form__label--halls {
    border: 3px solid #ffffff;
    background-color: #6c0287;
}

.form__input:hover+.form__label--halls {
    border: 3px solid #640aa3;
    background-color: #eadeed;
}

.form__input:focus+.form__label--halls {
    border: 3px solid #640aa3;
    background-color: #ffffff;
    outline: none;
}

.form__input:active+.form__label--halls {
    border: 3px solid #ffffff;
    background-color: #6c0287;
}

.form__label--vertical {
    font-size: 22px;
    line-height: 25px;
}

.form__checkbox {
    transition: outline .3s ease-in-out;
}

.form__checkbox:focus {
    outline: 1px solid #cd06ff;
}