.nav__list {
    min-height: 66px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 50px;
}

.nav__link {
    padding: 10px 5px;
    border-bottom: 1px solid transparent;
    transition: border-bottom .3s ease-in-out;
}

.nav__link:hover,
.nav__link:focus {
    border-bottom: 2px solid #6c0287;
}

.nav__link:active {
    color: #e4e4e4;
}