.section-feedback__container-inner {
    display: flex;
    gap: 20px;
    width: 980px;
    margin: 0 auto;
    margin-bottom: 50px;
}

.section-feedback__container-inner:last-child {
    margin-bottom: 0;
}

.section-feedback__img-container {
    position: relative;
    min-width: 280px;
    display: flex;
    flex-direction: column;
    gap: 11px;
}

.section-feedback__image {
    border-radius: 50%;
}

.section-feedback__img-container::before {
    content: "";
    position: absolute;
    width: 280px;
    height: 280px;
    background: radial-gradient(50% 50% at 50% 50%, rgba(196, 196, 196, 0) 0%, rgba(108, 2, 135, 0.5) 100%);
    border-radius: 140px;
}

.section-feedback__description {
    max-width: 680px;
    margin-top: 52px;
    font-weight: 400;
    font-size: 20px;
    line-height: 28px;
}

.section-feedback__description--no-float {
    margin-top: 0;
    text-align: center;
}