html {
  position: relative;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: #FFFFFF;
  background-color: #1B1A1B;
}

img,
svg {
  max-width: 100%;
  max-height: 100%;
  height: auto;
}

button {
  padding: 0;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

ul,
ol {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
p,
figure,
fieldset {
  margin: 0;
}

iframe {
  border: none;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.visually-hidden {
  position: fixed;
  transform: scale(0);
}

.page-container {
  min-width: 1440px;
  padding: 0 130px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.section-feedback__container-inner {
  padding-top: 60px;
  padding-left: 100px;
  margin-bottom: 50px;
}

.section-feedback__container-inner:last-child {
  margin-bottom: 0;
}

.section-feedback__image {
  border-radius: 50%;
  float: left;
  margin-top: -60px;
  margin-bottom: 11px;
  margin-right: 20px;
}

.section-feedback__description {
  max-width: 980px;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.section-feedback__description--no-float {
  clear: left;
  margin-left: 60px;
}

.greetings-section__container {
  position: relative;
  max-width: 1180px;
  min-height: 1018px;
  padding-top: 146px;
  margin: 0 auto;
}

.greetings-title {
  margin: 0;
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.greetings-section__container::before {
  content: "";
  position: absolute;
  width: 675px;
  height: 762px;
  right: 0;
  bottom: 50px;
  background-image: url("../img/boy-vr.png");
  background-repeat: no-repeat;
  z-index: 1;
}

.greetings-subtitle {
  font-weight: 400;
  font-size: 28px;
  line-height: 50px;
  margin: 0;
  padding-left: 103px;
}

.title {
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 50px;
  text-transform: uppercase;
}

.halls-list {
  margin: 0;
  padding: 0;
}

.halls-section__halls-item {
  display: inline-block;
  margin-bottom: 20px;
}

.halls-section__halls-item:nth-child(2n) {
  margin-left: 15px;
}

.halls-item {
  width: 580px;
  min-height: 349px;
  padding: 135px 30px;
}

.halls-item--80 {
  background-image: url("../img/back-80th.jpg");
}

.halls-item--sw {
  background-image: url("../img/back-star-wars.jpg");
}

.halls-item--ww {
  background-image: url("../img/back-wild-west.jpg");
}

.halls-item--ln {
  background-image: url("../img/back-neon.svg");
}

.halls-link {
  display: block;
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 70px;
  line-height: 80px;
  text-transform: uppercase;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.about-us__image-container {
  display: inline-block;
  margin-right: 80px;
}

.about-us__image {
  display: block;
}

.about-us__description-wrapper {
  display: inline-block;
  width: 495px;
  vertical-align: top;
  margin-bottom: 48px;
}

.about-us__description {
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin: 0;
  margin-bottom: 30px;
}

.description-second {
  margin-bottom: 48px;
}

.about-us__description-third {
  position: relative;
  font-weight: 400;
  font-size: 44px;
  line-height: 50px;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 39px;
  padding-left: 31px;
}

.about-us__description-third::before {
  content: "“";
  position: absolute;
  width: 22px;
  height: 19px;
  left: 0;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: #6C0287;
}

.about-us__description-third::after {
  content: "„";
  position: absolute;
  width: 22px;
  height: 19px;
  bottom: 55px;
  right: 115px;
  font-weight: 900;
  font-size: 44px;
  line-height: 50px;
  color: #6C0287;
}

.about-us__quotes:nth-child(1) {
  margin-right: 16px;
}

.about-us__bloquote {
  display: inline-block;
  width: 500px;
  margin: 0;
}

.about-us__picture {
  display: inline-block;
  margin: 0;
  padding-left: 100px;
}

.about-us__img {
  display: inline-block;
  vertical-align: bottom;
  margin-right: 30px;
}

.about-us__cite {
  display: inline-block;
  width: 280px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
}

.section-footer__contacts-item {
  padding-left: 66px;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
}

.section-footer__contacts-item:last-child {
  margin-bottom: 40px;
}

.section-footer__contacts-item:not(:last-child) {
  margin-bottom: 15px;
}

.item-adress {
  background-image: url("../img/icon-location.svg");
}

.item-tel {
  background-image: url("../img/icon-phone-call.svg");
}

.item-mail {
  background-image: url("../img/icon-mail.svg");
}

.section-footer__contacts-list {
  padding: 0;
  margin: 0;
}

.contacts-link {
  display: block;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #FFFFFF;
}

.section-footer__social-list {
  padding: 0;
  margin: 0;
  margin-bottom: 40px;
}

.section-footer__svg:hover {
  fill: #6C0287;
}

.section-footer__link {
  text-decoration: none;
}

.section-footer__social-item {
  display: inline-block;
  margin-right: 26px;
}

.section-footer__social-item:last-child {
  margin-right: 0;
}