:root {
    --bg-color: #1b1a1b;
    --main-color: #ffffff;
    --purple: #840aa3;
    --l-purple: #cd06ff;
    --m-purple: #6c0287;
    --d-purple: #640aa3;
    --violet: #440f51;
    --d-violet: #1b1a1b;
    --m-violet: #370a37;
    --black: #000000;
    --m-black: #1c1a1a;
    --white: #ffffff;
    --light: #e4e4e4;
    --m-light: #eadeed;
}
